<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>

<body>
    <main>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </main>
</body>

</html>
